<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav>
        <h1 style="color: white; font-size: 28px; margin-left: 30px; font-family: 'Lexend Deca', sans-serif;">Todo-List</h1>
        <a href="/logout"><button class="logout-btn" style="font-family: 'Montserrat', sans-serif;">Log out</button></a>
    </nav>
    <div class="todo-container">
        <form class="input-form" action="/home" method="post">
            <input type="text" placeholder="Title" class="todo-title" name="todoTitle" id="todoTitle" required>
            <input type="text" placeholder="Description" class="todo-description" id="todoDesc" name="todoDescription" required>
            <button class="todo-btn">Add</button>
        </form>
        <ul>
            <% newItems.forEach(todo => { %>
                <% const todoID = todo.TodoID;
                    let completed = todo.Completed; %>
                <li>
                    <h3 <% if (completed) { %> style="text-decoration: line-through;" <% } %>><%= todo.TodoTitle %></h3>
                    <p <% if (completed) { %> style="text-decoration: line-through;" <% } %>><%= todo.TodoDescription %></p>
                    <input type="checkbox" class="todo-checkbox" data_id="<%= todoID %>" <% if (completed) { %> style="display: none;" <% } %> id="todoCheckbox">
                    <button class="delete-btn" data_id="<%= todoID %>" id="deleteBtn">Delete</button>
                    <button class="edit-btn" id="editBtn" <% if (completed) { %> style="display: none;" <% } %>>Edit</button>
                    <form class="edit-form" style="display: none;">
                        <input type="text" placeholder="Title" class="edit-title" name="editedTodoTitle" id="editTodoTitle" required>
                        <input type="text" placeholder="Description" class="edit-description" id="editTodoDesc" name="editedTodoDescription" required>
                        <button class="save-btn" data_id="<%= todoID %>" id="saveBtn">Save</button>
                        <button clsas="close-btn" id="closeBtn">Close</button>
                    </form>
                </li>
            <% }); %>        
        </ul>
    </div>
    <script src="/deleteTodo.js"></script>
    <script src="/markTodoAsCompleted.js"></script>
    <script src="/editTodo.js"></script>
</body>
</html>